.cardToSee{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}

.image{
    margin: 30px 30px 30px 30px;
    border-radius: 5%;
    box-shadow: 6px 6px 10px black;
}

.button{
    margin: 20px;
}